.pyGVEf .BfiV7c, .ZWm5Kd, .XvAIB, .PugfHe, .AFnmuc, .N39ns, .Kpczfc, .EbT1Hd:not(.WYU9Sb), .t3RZAc .C5m2fc, .s0NUu
{ display: none !important }
.XkWAb-pVNTue
{ z-index: 0 !important; }
.ZxgbUe
{ font-size: 10px !important; padding: 2px !important; }
.DgsXq.MJA7d::before
{ height: 85vh !important; margin-top: 70px !important; }
.xzkhqe
{ margin: 0px auto 0 auto; }
.mqAyNe .CMCEae
{ background: #1a73e8 !important; }
