img {
		max-width: auto !important;
		max-height: 100vh !important;
	}
	#image {
		scroll-snap-align: start;
	}
	html {
		scroll-snap-type: y proximity;
	}
	body {
		background: #2a2a2a;
		font-family: 'Comic Sans MS';
	}
	#content {
		border: hidden;
	}
	.thumb {
		border: 1px solid #222 !important;
		margin: 7px;
		opacity: 0.69;
	}
	.a-series,
	.a-series-title {
		color: #7f7f7f !important;
		text-decoration: none !important;
	}
	.a-series:hover,
	.a-series-title:hover {
		color: #7f7f7f!important;
	}
	.drop {
		margin-right: 5px;
		margin-left: 5px !important;
		height: 24px;
	}
	.styleswitch {
		visibility: hidden;
		height: 0px !important;
		width: 0px !important;
	}
	#header {
		background-color: #222 !important;
		border-bottom: 2px solid #222;
	}
	.siteLogo {
		color: #7f7f7f !important;
		text-shadow: 2px 2px 0 #727272, 2px -2px 0 #727272, -2px 2px 0 #727272, -2px -2px 0 #727272, 2px 0px 0 #727272, 0px 2px 0 #727272, -2px 0px 0 #727272, 0px -2px 0 #727272 !important;
	}
	.siteLogo:hover {
		color: #7f7f7f !important;
		text-shadow: 2px 2px 0 #CFCFCF, 2px -2px 0 #CFCFCF, -2px 2px 0 #CFCFCF, -2px -2px 0 #CFCFCF, 2px 0px 0 #CFCFCF, 0px 2px 0 #CFCFCF, -2px 0px 0 #CFCFCF, 0px -2px 0 #CFCFCF !important;
	}
	a:link,
	a:visited,
	a:active {
		color: #7f7f7f !important;
	}
	a:hover {
		color: #7f7f7f!important;
	}
	.drop,
	.btn,
	#related {
		background-color: #2a2a2a;
		color: #7f7f7f !important;
		text-shadow: none !important;
	}
	.dash {
		background: none !important;
	}
	.thumb,
	div[style="width:78px;height:110px;float:left;border:0px solid #7f7f7f; margin:10px;"],
	img[style="max-width:1000px;background-color:white;"] {}
	.main_fon {
		background-color: #2a2a2a !important;
		border-color: #222 !important;
		color: #7f7f7f !important;
	}
	.extaraNavi {
		background-color: #333333 !important;
		border: 1px solid #222 !important;
		border-radius: 3px;
	}
	.extra_on {
		border: none !important;
		background-color: #333333 !important;
	}
	div[style="background-color:#f2f4f6;padding-bottom:10px;margin-top:-6px;padding-left:13px;margin-left:-13px;margin-right:-16px;padding-top:5px;"] {
		background-color: #2a2a2a !important;
	}
	.comment_left,
	.comment_right {
		background-color: #2a2a2a !important;
	}
	.manga_comment_row {
		background-color: #333333 !important;
	}
	#post-comment {
		background-color: #333333 !important;
		color: #7f7f7f;
		border: none !important;
		border-top-right-radius: 0px !important;
		border-top-left-radius: 5px !important;
		border-bottom-left-radius: 0px !important;
	}
	a[onclick="megaAjax('subscrabe_button_', '42326', '0','subscrabe');return false;"] {
		background-color: #333333 !important;
		color: #7f7f7f;
		border: none !important;
		border-top-right-radius: 5px !important;
		border-top-left-radius: 0px !important;
		border-bottom-left-radius: 5px !important;
		border-bottom-right-radius: 0px !important;
		font-weight: bold;
		padding: 4px !important;
	}
	#navigator {
		background-color: #222222 !important;
		border-bottom: solid 1px #222 !important;
		border-left: solid 1px #222;
		border-right: solid 1px #222 !important;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	#top {
		background: none !important;
		background-color: #222222 !important;
		border-bottom: solid 1px #222 !important;
		border-left: solid 1px #222;
		border-right: solid 1px #222 !important;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	#top_rss {
		background: none !important;
		width: 20px !important;
	}
	#top_search,
	#top_user,
	#top_site {
		background: none !important;
	}
	#search_button {
		border: 1px solid #222 !important;
		border-left: none !important;
		height: 22px;
		margin-top: -1px;
	}
	#story {
		background-color: #222222;
		border: 1px solid #222 !important;
		color: #7f7f7f;
	}
	#top a,
	a[href="/adminsamma.php?mod=addnews&action=addnews"],
	a[title="Связатся с администрацией Хентай-тян!"] {
		color: #7f7f7f;
	}
	.name_row a,
	.related_info a {
		text-shadow: none !important;
		color: #7f7f7f;
		font-weight: bolder;
	}
	.sidetag a,
	.text_spoiler {
		color: #7f7f7f !important;
	}
	.gasdsp {
		margin-top: 3px;
		margin-left: 1px;
	}
	a[href="https://y.hentaichan.live/manga/"],
	a[href*="/series/"],
	a[href*="/mangaka/"],
	a[href*="/translation/"] {
		color: #7f7f7f !important;
		text-decoration: none !important;
	}
	a[href*="/user/"] {
		color: #669922 !important;
		text-decoration: none !important;
	}
	a[style="color:#333333;"] {
		color: #7f7f7f !important;
		font-weight: normal !important;
	}
	#pagination,.extaraNavi {
		background-color: #222222 !important;
	}
	div[style="float:left;background-color:#7f7f7f;border-top-left-radius:5px;border-top-right-radius:5px;margin-bottom:-20px;padding-bottom:20px;border:1px solid #d6dee5;"] {
		background-color: #222222 !important;
		border: 1px solid #222 !important;
	}
	div[style="border:1px solid #BBB; float:left;"] {
		border: none !important;
	}
	#add_comment {
		border-bottom-right-radius: 7px;
		border-bottom-left-radius: 7px;
	}
	label[for="allow_subscribe"] {
		color: #7f7f7f;
	}
	.baseTitle {
		background-color: #333333 !important;
	}
	.area_right {
		background-color: #222222 !important;
		border: 1px solid #222 !important;
	}
	.area_rightSpace {
		background-color: #222222 !important;
	}
	.area_right a[href*="/manga/new"],
	a[href*="/games/new"],
	a[href*="/video/new"],
	a[href*="/lastcomment/"],
	a[href*="/tags/"],
	#top_left li a,
	.recent-row a {
		color: #8d8d8d !important;
		text-decoration: none !important;
	}
	div[style="margin-bottom:4px;font-size:14px;font-weight:bold;"] {
		visibility: hidden !important;
	}
	img[height="140"],
	.entry a img {
		border: 1px solid #222 !important;
		margin: 4px;
	}
	#right div[style="background-color:#f2f4f6;padding:10px;margin-bottom:10px;width:555px;"] {
		background-color: #333333 !important;
	}
	.related {
		background: none !important;
		background-color: #333333 !important;
		border: none !important;
		overflow: hidden;
		border-radius: 5px;
	}
	.content_row {
		background-color: #333333 !important;
		border: none !important;
		overflow: hidden;
		border-radius: 5px;
	}
	#pagination_related {
		background-color: #2a2a2a !important;
	}
	.profile-box {
		border: none !important;
	}
	.head-category {
		background-color: #2a2a2a !important;
		border: none !important;
	}
	.additional-box a {
		background-color: #2a2a2a !important;
		border: none !important;
	}
	img {
		filter: brightness(70%) !important;
	}
	body,#related,.drop,
	.btn {
		color: #7f7f7f !important;
		background: #2a2a2a !important;
				border-color: #333333 !important;
	}
	.siteLogo,	.siteLogo:hover,[data-darkreader-inline-color] {
    color: #669922 !important;
    text-shadow: none !important;
}
	#navigator .main_set li a.global_menu_arrow, #navigator .main_set li a.global_menu_arrow_active {
    filter: invert(80%) !important;
}
	[data-darkreader-inline-border-bottom] {
    background-color: #222222 !important;
}
	[data-darkreader-inline-border-top] {
    border-top-color: #333333 !important;
}
[data-darkreader-inline-border-right] {
    border-right-color: #333333 !important;
}
[data-darkreader-inline-border-left] {
    border-left-color: #333333 !important;
}
[data-darkreader-inline-border-bottom] {
    border-bottom-color: #333333 !important;
}
	.comment_text img {
    max-height: 80px !important;
}
.comment_left a {
    text-decoration-color: initial;
    filter: invert(20%) !important;
}
	#post-comment {
		opacity: 30%;
    color: black;
}
#bbcode {
		background: #222222 !important;
	}
#comment textarea {
    overflow-y: unset;
}
	.editor_button {
    padding-right: 8px;
    filter: brightness(30%);
}
