body#body, .header .header-context #menu-inner ul.nav.context, .slide-book__item {
    background-color: #161614;
}
#nav-wrapper,
.bc-header__bg-wrap,
.btn-buy-list,
.btn-fill.btn-darkgreen,
.btn-fill.btn-darkgreen.btn-unactive:hover .column-240.on-right,
.column-right,
.gp-wrapper .gp-rating,
.gp-wrapper .header-profile-login,
.gp-wrapper .header-profile-status,
.gp-wrapper h1.header-profile-login,
.header-pshadow,
.left-column,
.light-bg,
.page-footer,
.page-header__logo,
.prm-block-101:not([style="display: none;"]) ~ .footer-wrapper,
.prm-header .header-pshadow,
.slide-book__buy
{
	display: none !important
}
.bc-about__title,
.bc-info,
.bc-menu__status-lists,
.bc-new .bc-rating,
.bc-new .bc__book-title,
.blist-smalllist .brow .btn-fill-empty,
.book-list-filter a,
.btn-fill-empty.btn-wh,
.btn-fill.btn-darkblue,
.card-block .block-bottom,
.card-block,
.card-viewed-white h2,
.container-share-group .soc-share-count-s,
.container-share-middle .soc-share-count-s,
.cover-wrapper .book-moreinfo-btn,
.filter input[type="text"],
.filter select,
.find-block,
.form-new input[type="text"].search-input-new,
.label-orange.review-expert,
.lenta-card__text p,
.pagination-more-left .btn-fill-empty.btn-wh,
.pagination-right .pagination-page,
.pagination-right a.pagination-page,
.popup-redactor,
.search-wide,
.slide-book__item .bc-menu__status,
.slide-book__item .btn-add-plus,
.slide-book__limiter .slide-book__wrapper,
.swiper-book-data .swiper-author a
{
	border: none !important
}
#body
{
	filter: brightness(90%) !important
}
.search-wide .btn-search-new 
{
	opacity: .4
}
#body,
.header .header-context.profile-context ul.nav.context li a,
.main-menu__item a,
.page-header a,
.site-nav__item > a,
.site-nav__item div > a,
.site-nav__item summary a,
.slide-book__author,
.slide-book__author:visited .user-nav__item > a,
.user-nav__item > a,
.user-nav__item div > a,
.user-nav__item summary a,
span
{
	color: #acacb5 !important
}
.bc-menu__status-lists,
.bc-menu__status-lists:visited 
{
	background-color: #a69668 !important;
	color: #131313 !important;
	font-weight: bold !important
}
.lenta-card__show-all 
{
	color: rgb(211, 190, 153);
	background-image: initial;
	background-color: rgb(28, 26, 21);
	border: 1px solid #88898C
}
a,
.btn-add-plus--add::before 
{
	color: #d1c193 !important;
	text-decoration-color: none !important
}
body#body,
.header .header-context #menu-inner ul.nav.context,
.slide-book__item 
{
	background-color: #131313
}
div:not(.version4):not(.column-670) > div.column-670:not(.version4) 
{
	margin-left: 0px !important
}
.page-content 
{
	justify-content: left !important
}
.block-border 
{
	width: 1140px !important
}
.column-670 
{
	width: 1140px !important
}
.bc-header__wrap 
{
	width: calc(50% + 212px) !important
}
.bc {
    width: 980px;
}
