#avatar.ytd-rich-grid-media, yt-icon.ytd-badge-supported-renderer, yt-formatted-string > .emoji.small-emoji
{ display: none !important }
/* Серая тема */
img.yt-img-shadow, .yt-core-image, #header.ytd-c4-tabbed-header-renderer, ytd-playlist-thumbnail #thumbnail.ytd-playlist-thumbnail, yt-icon, ytd-thumbnail.ytd-grid-video-renderer
{ filter: grayscale(1) !important }
/* Компактная подпись к видео и плейлистам */
#video-title.ytd-rich-grid-slim-media, #video-title.yt-simple-endpoint.ytd-grid-video-renderer, #video-title.ytd-playlist-video-renderer, #video-title.ytd-video-renderer, #video-title.ytd-rich-grid-media, #video-title.ytd-grid-playlist-renderer
{ font-size: 1.4rem; line-height: 1.5rem !important; font-weight: 100 !important; max-height: 4rem !important; min-height: 9rem !important; overflow: visible !important; text-transform: lowercase !important; display: initial !important }
#meta.ytd-rich-grid-media
{ padding-right: 0 !important; }
h3.ytd-rich-grid-media
{ margin: 3px !important; }
/* Настройки плейлистов */
ytd-thumbnail #thumbnail.ytd-thumbnail yt-img-shadow.ytd-thumbnail, ytd-thumbnail-overlay-side-panel-renderer
{ background-color: linear-gradient(to right, transparent, var(--yt-spec-static-overlay-background-heavy)) !important; align-items: end !important; justify-content: flex-end !important }
#thumbnail.ytd-playlist-thumbnail, #playlist-thumbnails.ytd-playlist-thumbnail
{ filter: brightness(0.7); }
